<div class="image-poster">
</div>
<div class="pr-12 pl-12 flex flex-col">
    <div>
        <h1 style="font-size: 40px;">o que é o cancer de mama?</h1>
    <p class="text-justify">
        O câncer de mama é o tipo que mais acomete mulheres em todo o mundo, tanto em países em desenvolvimento
        quanto em países desenvolvidos. Cerca de 2,3 milhões de casos novos foram estimados para o ano de 2020 
         em todo o mundo, o que representa cerca de 24,5% de todos os tipos de neoplasias diagnosticadas nas mulheres.
        As taxas de incidência variam entre as diferentes regiões do planeta, com as maiores taxas nos países
        desenvolvidos.
    </p>
    </div>
    <div class="pt-5">
        <div>
            <p style="font-size: 5rem" class="text-grey-100">
                66.280 casos novos em 2021.
            </p>
        </div>
        <p class="text-justify">
            Para o Brasil, foram estimados 66.280 casos novos de câncer de mama em 2021, com um risco estimado de 61,61 
            casos a cada 100 mil mulheres.
        </p>
    </div>
    <div class="pt-20">
        <div class="w-full p-10 rounded-lg bg-pink-100">
            <p>Fique atenta aos sinais!</p>
            <p>
                Os principais sinais e sintomas suspeitos de câncer de mama são: caroço (nódulo), geralmente endurecido, fixo e indolor; pele da mama avermelhada ou parecida com casca de laranja, alterações no bico do peito (mamilo) e saída espontânea de líquido de um dos mamilos. Também podem aparecer pequenos nódulos no pescoço ou na região embaixo dos braços (axilas)
            </p>
        </div>
    </div>
</div>